APP_ENV=development
APP_NAME=event-driven-commerce-platform

DATABASE_URL=postgresql+psycopg://user:Aminadia@123@localhost:5432/commerce
TEST_DATABASE_URL=postgresql+psycopg://postgres:YOUR_PASSWORD@localhost:5432/commerce_test

REDIS_URL=redis://localhost:6379/0

KAFKA_BOOTSTRAP_SERVERS=localhost:9092